#ft {
  text-align: center;
  font-family: fantasy;
  font-size: large;
  background-color: rgb(18, 61, 153);
  color: black;
  border: 2px solid black;
}
#he {
  background-image: url("https://images.unsplash.com/photo-1595511369680-d728dc7f0be9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60");
  margin: 3px;
  padding: 5px;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 2px solid black;
}
body {
  border: 2px solid black;
}
