.form {
  align-items: center;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);
}
#inp {
  background-color: cadetblue;
  border: 2px solidblack;
  color: black;
  text-align: center;
  font-weight: 300;
}
