#img {
  image-rendering: pixelated;
  width: 99%;
  padding: 3px;
  border: 2px solid black;
}
#sp1 {
  color: black;
  font-size: large;
  font-family: fantasy;
  font-weight: bold;
}
body {
  padding: 2px;
  border: 2px solid black;
  background-color: rgba(139, 139, 139, 0.438);
}
